#!/bin/bash
workspace=$(cd $(dirname $0) && pwd)
cd $workspace

module=lvs-metrics
app=$module
conf=cfg.json
pidfile=var/app.pid
logfile=var/app.log
logdir=var/

mkdir -p var &>/dev/null

## build & pack
function build() {
    #go get github.com/tools/godep
    export GO15VENDOREXPERIMENT=0
    #GOPATH=`godep path` godep restore
    #GOPATH="`godep path`:$GOPATH" && go build -i -ldflags "-X g.Commit=${COMMIT}" -o $app .
    make bin

    sc=$?
    if [ $sc -ne 0 ];then
        echo "build error"
        exit $sc
    else
        echo -n "build ok, vsn="
        ./$app -version
    fi
}

function pack() {
    build
    git log -1 --pretty=%h > gitversion
    version=`./$app -version`
    tar zcvf $app-$version.tar.gz control $app cfg.example.json gitversion
    rm -f gitversion &>/dev/null
}

function packbin() {
    build
    git log -1 --pretty=%h > gitversion
    version=`./$app -version`
    tar zcvf $app-bin-$version.tar.gz $app gitversion
    rm -f gitversion &>/dev/null
}

## opt
function start() {
    check_pid
    running=$?
    if [ $running -gt 0 ];then
        echo -n "started, pid="
        cat $pidfile
        return 1
    fi

    nohup ./$app -c $conf -log_dir $logdir &> $logfile &
    echo $! > $pidfile
    echo "start ok, pid=$!"
}

function stop() {
    pid=`cat $pidfile`
    kill -9 $pid
    echo "stoped"
}

function restart() {
    stop
    sleep 1
    start
}

## other
function status() {
    check_pid
    running=$?
    if [ $running -gt 0 ];then
        echo -n "running, pid="
        cat $pidfile
    else
        echo "stoped"
    fi
}

function version() {
    ./$app -version
}

function tailf() {
    tail -f $logfile
}

## internal
function check_pid() {
    if [ -f $pidfile ];then
        pid=`cat $pidfile`
        if [ -n $pid ]; then
            running=`ps -p $pid|grep -v "PID TTY" |wc -l`
            return $running
        fi
    fi
    return 0
}

## usage
function usage() {
    echo "$0 build|pack|packbin|start|stop|restart|status|tail|version"
}

## main
action=$1
case $action in
    ## build
    "build" )
        build
        ;;
    "pack" )
        pack
        ;;
    "packbin" )
        packbin
        ;;
    ## opt
    "start" )
        start
        ;;
    "stop" )
        stop
        ;;
    "restart" )
        restart
        ;;
    ## other
    "status" )
        status
        ;;
    "version" )
        version
        ;;
    "tail" )
        tailf
        ;;
    * )
        usage
        ;;
esac
